<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Template</title>
</head>
<body>
    <h1>EJS</h1>

    <ul>
        <% data.forEach(function(person){%>
            <li><%= person.name %> </li>
        <%}) %>
    </ul>
  
</body>
</html>